.category-item {
  width: auto;
  height: auto;

  border: none;

  font-family: 'Inter', sans-serif !important;

  transition: background-color 0.25s !important;
}

.category-item:hover {
  background-color: rgba(255, 255, 255, 0.295) !important;
}

a {
  text-decoration: none;
}

.extensions-category {
  color: white;
}
