.item-grid {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.glass-container {
  color: white;

  width: 85%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1% !important;

  border-radius: 16px;
}
