.register-container {
  height: auto;
  position: absolute;
  padding-bottom: 70px;
  padding-top: 70px;

  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  color: white;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.register-form {
  max-width: 500px;
  margin: 0 auto;
}

.register-form p {
  font-weight: bold;
}

.register-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;

  padding: 10px 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;

  transition: background-color 0.25s;
}

.register-form input:active {
  border: none !important;
  outline: none !important;
}

.register-form input:hover {
  background: rgba(255, 255, 255, 0.295);
}

.register-form input:not([type='submit']):focus {
  border: none;
  outline: none;
}

.register-form button[type='submit'],
input[type='submit'] {
  cursor: pointer;
  text-transform: uppercase;
  color: white;

  margin-top: 40px;
  padding: 20px;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 10px;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}

.register-form button[type='submit']:active,
input[type='button']:active,
input[type='submit']:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.5;
}

.register-form input:disabled {
  opacity: 0.4;
}

.register-form input[type='button']:hover {
  transition: 0.3s all;
}

.register-form button[type='submit'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
}

.register-form button[type='button'] {
  background: #333;
  padding: 10px 20px;
}

.register-form hr {
  margin-top: 30px;
}
