table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  display: inline-block;
}

thead th {
  text-align: left;
}

thead button {
  background: none !important;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;

  font-family: inherit;
  font-weight: 700;
  font-size: inherit;

  padding: 0.5em;
  margin-bottom: 3px;

  color: white;

  cursor: pointer;
}

thead button.ascending::after {
  content: '⬆';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '⬇';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
}
