
.infoContainer{
  display: flex;
  flex-direction: column;
}


.glass-container-single {
  color: black;
  width: 85%;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1% !important;
  border-radius: 16px;
}


.git_field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 16px;
  border-radius: 16px;
}

.git_field:hover{
  background-color: rgba(255, 255, 255, 0.3);
}