.search-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  text-align: center;
  align-items: center;
}

#search {
  width: 50vw;
  height: 50px;

  font-weight: bold;
  font-size: 16px;

  outline: none;

  background: rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}

.search-container input {
  border-radius: 7px;
}

::placeholder {
  color: white;
}

#search:active {
  font-size: 20px;
}
