p {
  margin: 0;
}

h2 {
  margin: 0;
}

.item {
  width: 200px;
  height: auto;

  background-color: white;

  border: none;

  font-family: 'Inter', sans-serif !important;

  transition: background-color 0.15s ease !important;
}

.item:hover {
  background-color: rgb(227, 227, 227);
}

.category-info:hover {
  background-size: 0 3px, 100% 3px;

  cursor: pointer;
}

.category-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.general-img {
  width: 65px;
  height: 65px;

  object-fit: contain;
}

.extensions-category {
  display: flex;
  justify-content: space-between;

  margin-left: 60px;
  margin-right: 60px;

  color: #000;
}

.card {
  position: relative;
  width: 13em;
  height: 13em;
  color: #a18a96;
  background-color: #00f8c2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.card_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: rgb(219, 219, 219);
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform 0.25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -28px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px rgb(219, 219, 219);
  z-index: -1;
}

.card_title {
  color: #252525;
  line-height: 15px;
  font-size: 17px;
  margin-left: 0.5em;
}

.card_subtitle {
  display: block;
  font-size: 16px;
  color: #252525;
  margin-bottom: 10px;
  margin-left: 0.5em;
}

.card_description {
  opacity: 0px;
  transition: opacity 0.5s;
  margin-left: 0.5em;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
  margin-left: 0.5em;
}

.card_button {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  font-size: 13px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.card_button:hover {
  color: black;
  background-color: #1976d2;
}
